In [ ]:
import os
import pandas as pd
import numpy as np
from scipy.stats import zscore
import warnings
warnings.filterwarnings("ignore")

In [ ]:
def load_data(file_path , filename):
    csv_path = os.path.join(file_path, filename)
    return pd.read_csv(csv_path)

In [ ]:
def write_csv_data(file_path, filename, df):
    isExist = os.path.exists(file_path)
    if not isExist:
        os.makedirs(file_path)
        print("The new directory is created!")
    csv_path = os.path.join(file_path, filename)
    df.to_csv(csv_path)
    
    if os.path.exists(csv_path) and os.path.getsize(csv_path) > 0:
        print(filename + " was written to successfully!")

In [32]:
import re

def convert_str_to_number(dataframe):
    for column in dataframe.columns:
        if column != 'Player':
            dataframe[column] = dataframe[column].apply(lambda x: int(re.search(r'\d+', str(x)).group()) if isinstance(x, str) and re.search(r'\d+', str(x)) else 0 if x == '-' else x)
    return dataframe

In [ ]:
print(os.getcwd())
batting_file_path = "Cleaned/Batting"


# All batting dataframes
odi_data = load_data(batting_file_path, "odi_data.csv")
t20_data = load_data(batting_file_path, "t20_data.csv")

C:\Users\sheru\Documents\GitHub\t20-blocks

In [ ]:
def remove_unnamed_cols(df_data):
    unnamed_cols = df_data.filter(regex='Unnamed').columns
    df_data.drop(columns=unnamed_cols, inplace=True)
    return df_data

In [ ]:
t20_data = remove_unnamed_cols(t20_data)
t20_data

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Final Region
0,V Kohli,2010,75,70,20,2633,94,52,1907,138,0,24,2,247,71,INDIA
1,RG Sharma,2007,104,96,14,2633,118,32,1905,138,4,19,6,234,120,INDIA
2,MJ Guptill,2009,83,80,7,2436,105,33,1810,134,2,15,2,215,113,NZ
3,Shoaib Malik,2006,111,104,30,2263,75,30,1824,124,0,7,1,186,61,PAK
4,BB McCullum,2005,71,70,10,2140,123,35,1571,136,2,13,3,199,91,NZ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1730,SR Welsh,2008,1,0,0,0,0,0,0,0,0,0,0,0,0,CAN
1731,SG Whittingham,2018,3,0,0,0,0,0,0,0,0,0,0,0,0,SCOT
1732,LJ Woodcock,2010,3,0,0,0,0,0,0,0,0,0,0,0,0,NZ
1733,Zamir Khan,2012,1,0,0,0,0,0,0,0,0,0,0,0,0,AFG
1734,Ziaur Rahman,2019,1,0,0,0,0,0,0,0,0,0,0,0,0,AFG

In [ ]:
odi_data = remove_unnamed_cols(odi_data)
odi_data

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Final Region
0,SR Tendulkar,1989,463,452,41,18426,200,44,21367,86,49,96,20,INDIA
1,KC Sangakkara,2000,404,380,41,14234,169,41,18048,78,25,93,15,SL
2,RT Ponting,1995,375,365,39,13704,164,42,17046,80,30,82,20,AUS
3,ST Jayasuriya,1989,445,433,18,13430,189,32,14725,91,28,68,34,SL
4,DPMD Jayawardene,1998,448,418,39,12650,144,33,16020,78,19,77,28,SL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2480,ZS Ansari,2015,1,0,0,0,0,0,0,0,0,0,0,ENG
2481,Ariful Haque,2018,1,0,0,0,0,0,0,0,0,0,0,BDESH
2482,Ashfaq Ahmed,1994,3,0,0,0,0,0,0,0,0,0,0,PAK
2483,MD Bailey,1998,1,0,0,0,0,0,0,0,0,0,0,NZ
2484,GR Beard,1981,2,0,0,0,0,0,0,0,0,0,0,AUS

In [ ]:
def calc_Z(data_col):
    data_col_z = zscore(data_col)
    data_col_z = data_col_z + abs(min(data_col_z))
    data_col = data_col_z
    return data_col

def calc_priority_Z(priority_Z):
    min_p = min(priority_Z)
    range_p = max(priority_Z) - min_p
    priority_Z = ((priority_Z - min_p) / range_p) * 10
    return priority_Z

def rate_player_t20(t20_df):
    priority_list = []
    #Priority 1 - Average
    avg_ave = t20_df['Ave'].mean()
    std_ave = t20_df['Ave'].std()
    ave_Z = zscore(t20_df['Ave'])
    #Shifting z score
    ave_Z = ave_Z + abs(min(ave_Z))
    bf_Z = zscore(t20_df['BF'])
    bf_Z = bf_Z + abs(min(bf_Z))
    mat_Z = zscore(t20_df['Mat'])
    mat_Z = mat_Z + abs(min(mat_Z))
    priority1_Z = (2*ave_Z) * bf_Z * mat_Z
    min_p1 = min(priority1_Z)
    range_p1 = max(priority1_Z) - min_p1
    priority1_Z = ((priority1_Z - min_p1) / range_p1) * 10
    t20_df['p1_z'] = priority1_Z
    priority_list.append(priority1_Z)
    
    #Priority 2 - Strike Rate
    sr_Z = calc_Z(t20_df['SR'])
    runs_Z = calc_Z(t20_df['Runs'])
    priority2_Z = (2*sr_Z) * runs_Z
    priority2_Z = calc_priority_Z(priority2_Z)
    t20_df['p2_z'] = priority2_Z
    priority_list.append(priority2_Z)
    
    #Priority 3 - 100
    hund_Z = calc_Z(t20_df['100'])
    priority3_Z = calc_priority_Z(hund_Z)
    t20_df['p3_z'] = priority3_Z
    priority_list.append(priority3_Z)
    
    #Priority 4 - 50, 4 and 6
    fifty_Z = calc_Z(t20_df['50'])
    four_Z = calc_Z(t20_df['4s'])
    six_Z = calc_Z(t20_df['6s'])
    priority4_Z = fifty_Z * four_Z * six_Z
    priority4_Z = calc_priority_Z(priority4_Z)
    t20_df['p4_z'] = priority4_Z
    priority_list.append(priority4_Z)
    
    rating = 1
    
    #Final Rating calculation
    for i in range(len(priority_list)):
        rating+=((len(priority_list)-i+1) * priority_list[i])
    
    #Normalising rating
    min_r = min(rating)
    range_rating = max(rating) - min_r
    rating = ((rating - min_r) / range_rating) * 10
    t20_df['rating'] = rating
    print(rating)

In [ ]:
rate_player_t20(t20_data)

0        7.966242
1       10.000000
2        7.378105
3        5.639427
4        6.182289
          ...
1730     0.000000
1731     0.000000
1732     0.000000
1733     0.000000
1734     0.000000
Length: 1735, dtype: float64

In [ ]:
zero_vals = (t20_data['rating']==0).sum()
zero_vals

212

In [ ]:
t20_data

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,...,50,0,4s,6s,Final Region,p1_z,p2_z,p3_z,p4_z,rating
0,V Kohli,2010,75,70,20,2633,94,52,1907,138,...,24,2,247,71,INDIA,10.000000,10.000000,0.0,7.888889,7.966242
1,RG Sharma,2007,104,96,14,2633,118,32,1905,138,...,19,6,234,120,INDIA,8.556505,10.000000,10.0,10.000000,10.000000
2,MJ Guptill,2009,83,80,7,2436,105,33,1810,134,...,15,2,215,113,NZ,6.674529,8.983636,5.0,6.830578,7.378105
3,Shoaib Malik,2006,111,104,30,2263,75,30,1824,124,...,7,1,186,61,PAK,8.202628,7.722827,0.0,1.488641,5.639427
4,BB McCullum,2005,71,70,10,2140,123,35,1571,136,...,13,3,199,91,NZ,5.245133,8.009820,5.0,4.412524,6.182289
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1730,SR Welsh,2008,1,0,0,0,0,0,0,0,...,0,0,0,0,CAN,0.000000,0.000000,0.0,0.000000,0.000000
1731,SG Whittingham,2018,3,0,0,0,0,0,0,0,...,0,0,0,0,SCOT,0.000000,0.000000,0.0,0.000000,0.000000
1732,LJ Woodcock,2010,3,0,0,0,0,0,0,0,...,0,0,0,0,NZ,0.000000,0.000000,0.0,0.000000,0.000000
1733,Zamir Khan,2012,1,0,0,0,0,0,0,0,...,0,0,0,0,AFG,0.000000,0.000000,0.0,0.000000,0.000000
1734,Ziaur Rahman,2019,1,0,0,0,0,0,0,0,...,0,0,0,0,AFG,0.000000,0.000000,0.0,0.000000,0.000000

In [ ]:
t20_data_sorted = t20_data.sort_values('rating', ascending=False)
t20_data_sorted

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,...,50,0,4s,6s,Final Region,p1_z,p2_z,p3_z,p4_z,rating
1,RG Sharma,2007,104,96,14,2633,118,32,1905,138,...,19,6,234,120,INDIA,8.556505,10.000000,10.0,10.000000,10.000000
0,V Kohli,2010,75,70,20,2633,94,52,1907,138,...,24,2,247,71,INDIA,10.000000,10.000000,0.0,7.888889,7.966242
2,MJ Guptill,2009,83,80,7,2436,105,33,1810,134,...,15,2,215,113,NZ,6.674529,8.983636,5.0,6.830578,7.378105
4,BB McCullum,2005,71,70,10,2140,123,35,1571,136,...,13,3,199,91,NZ,5.245133,8.009820,5.0,4.412524,6.182289
3,Shoaib Malik,2006,111,104,30,2263,75,30,1824,124,...,7,1,186,61,PAK,8.202628,7.722827,0.0,1.488641,5.639427
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1596,H Ssenyondo,2019,4,1,1,0,0,0,0,0,...,0,0,0,0,UGA,0.000000,0.000000,0.0,0.000000,0.000000
1597,Taijul Islam,2019,2,1,1,0,0,0,1,0,...,0,0,0,0,BDESH,0.000000,0.000000,0.0,0.000000,0.000000
1598,M Zondeki,2006,1,1,0,0,0,0,1,0,...,0,1,0,0,SA,0.000000,0.000000,0.0,0.000000,0.000000
1599,Zulqarnain Haider,2019,5,1,0,0,0,0,0,0,...,0,1,0,0,ESP,0.000000,0.000000,0.0,0.000000,0.000000
1734,Ziaur Rahman,2019,1,0,0,0,0,0,0,0,...,0,0,0,0,AFG,0.000000,0.000000,0.0,0.000000,0.000000

In [ ]:
write_csv_data("Cleaned/Batting", "t20_data_rating.csv", t20_data_sorted)

t20_data_rating.csv was written to successfully!

In [ ]:
def rate_player_odi(odi_df):
    priority_list = []
    #Priority 1 - Average
    ave_Z = calc_Z(odi_df['Ave'])
    bf_Z = calc_Z(odi_df['BF'])
    mat_Z = calc_Z(odi_df['Mat'])
    priority1_Z = (2*ave_Z) * bf_Z * mat_Z
    priority1_Z = calc_priority_Z(priority1_Z)
    odi_df['p1_z'] = priority1_Z
    priority_list.append(priority1_Z)
    
    #Priority 2 - Strike Rate
    hund_Z = calc_Z(odi_df['100'])
    fifty_Z = calc_Z(odi_df['50'])
    priority2_Z = (2*hund_Z) * fifty_Z
    priority2_Z = calc_priority_Z(priority2_Z)
    odi_df['p2_z'] = priority2_Z
    priority_list.append(priority2_Z)
    
    #Priority 3 - 100
    sr_Z = calc_Z(odi_df['SR'])
    runs_Z = calc_Z(odi_df['Runs'])
    priority3_Z = (2*sr_Z) * runs_Z
    odi_df['p3_z'] = priority3_Z
    priority_list.append(priority3_Z)
    
    # #Priority 4 - 50, 4 and 6
    # four_Z = calc_Z(odi_df['4s'])
    # six_Z = calc_Z(odi_df['6s'])
    # priority4_Z = four_Z * six_Z
    # priority4_Z = calc_priority_Z(priority4_Z)
    # odi_df['p4_z'] = priority4_Z
    # priority_list.append(priority4_Z)
    
    rating = 1
    
    #Final Rating calculation
    for i in range(len(priority_list)):
        rating+=((len(priority_list)-i+1) * priority_list[i])
    
    #Normalising rating
    min_r = min(rating)
    range_rating = max(rating) - min_r
    rating = ((rating - min_r) / range_rating) * 10
    odi_df['rating'] = rating
    print(rating)

In [ ]:
rate_player_odi(odi_data)

0       10.000000
1        6.690866
2        6.540932
3        6.657806
4        5.643075
          ...
2480     0.000000
2481     0.000000
2482     0.000000
2483     0.000000
2484     0.000000
Length: 2485, dtype: float64

In [ ]:
zero_vals = (odi_data['rating']==0).sum()
zero_vals

76

In [ ]:
odi_data_sorted = odi_data.sort_values('rating', ascending=False)
odi_data_sorted

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Final Region,p1_z,p2_z,p3_z,rating
0,SR Tendulkar,1989,463,452,41,18426,200,44,21367,86,49,96,20,INDIA,10.000000,10.000000,72.043792,10.000000
1,KC Sangakkara,2000,404,380,41,14234,169,41,18048,78,25,93,15,SL,6.865620,4.942602,50.476428,6.690866
3,ST Jayasuriya,1989,445,433,18,13430,189,32,14725,91,28,68,34,SL,4.816705,4.047619,55.562842,6.657806
2,RT Ponting,1995,375,365,39,13704,164,42,17046,80,30,82,20,AUS,6.164604,5.229592,49.843024,6.540932
6,V Kohli,2008,242,233,39,11609,183,59,12445,93,43,55,13,INDIA,4.074044,5.027636,49.084549,6.051177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2432,Ishtiaq Muhammad,2016,1,1,1,0,0,0,0,0,0,0,0,HKG,0.000000,0.000000,0.000000,0.000000
2431,SM Harwood,2009,1,1,0,0,0,0,4,0,0,0,1,AUS,0.000000,0.000000,0.000000,0.000000
2430,Harunur Rashid,1988,2,2,0,0,0,0,17,0,0,0,2,BDESH,0.000000,0.000000,0.000000,0.000000
2429,RG Hart,2002,2,1,0,0,0,0,9,0,0,0,1,NZ,0.000000,0.000000,0.000000,0.000000
2484,GR Beard,1981,2,0,0,0,0,0,0,0,0,0,0,AUS,0.000000,0.000000,0.000000,0.000000

In [ ]:
write_csv_data("Cleaned/Batting", "odi_data_rating.csv", odi_data_sorted)

odi_data_rating.csv was written to successfully!

In [28]:
bowler_file_path = "Player Data ICC/Bowling"

bowler_odi_data = load_data(bowler_file_path, "Bowling_ODI.csv")
bowler_t20_data = load_data(bowler_file_path, "Bowling_t20.csv")

In [22]:
bowler_df_list = [bowler_odi_data, bowler_t20_data]
for i in range(len(bowler_df_list)):
    bowler_df_list[i] = remove_unnamed_cols(bowler_df_list[i])
    bowler_df_list[i] = convert_str_to_number(bowler_df_list[i])
    
bowler_merged_on_player = bowler_df_list[0]

column_types = bowler_merged_on_player.dtypes

# Print the column names and data types
for column_name, data_type in column_types.iteritems():
    print(f"Column: {column_name}, Data Type: {data_type}")

bowler_merged_on_player

Column: Player, Data Type: object
Column: Span, Data Type: int64
Column: Mat, Data Type: int64
Column: Inns, Data Type: int64
Column: Balls, Data Type: int64
Column: Runs, Data Type: int64
Column: Wkts, Data Type: int64
Column: BBI, Data Type: int64
Column: Ave, Data Type: int64
Column: Econ, Data Type: int64
Column: SR, Data Type: int64
Column: 4, Data Type: int64
Column: 5, Data Type: int64

,Player,Span,Mat,Inns,Balls,Runs,Wkts,BBI,Ave,Econ,SR,4,5
0,M Muralitharan (Asia/ICC/SL),1993,350,341,18811,12326,534,7,23,3,35,15,10
1,Wasim Akram (PAK),1984,356,351,18186,11812,502,5,23,3,36,17,6
2,Waqar Younis (PAK),1989,262,258,12698,9919,416,7,23,4,30,14,13
3,WPUJC Vaas (Asia/SL),1994,322,320,15775,11014,400,8,27,4,39,9,4
4,Shahid Afridi (Asia/ICC/PAK),1996,398,372,17670,13632,395,7,34,4,44,4,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2577,TJ Zoehrer (AUS),1986,22,0,0,0,0,0,0,0,0,0,0
2578,K Zondo (SA),2018,5,0,0,0,0,0,0,0,0,0,0
2579,B Zuiderent (NL),1996,57,0,0,0,0,0,0,0,0,0,0
2580,Zulqarnain (PAK),1985,16,0,0,0,0,0,0,0,0,0,0
2581,Zulqarnain Haider (PAK),2010,4,0,0,0,0,0,0,0,0,0,0

In [23]:
def define_region(batsman_data_datadf):
    batsman_data_datadf[['Player', 'Region']] = batsman_data_datadf['Player'].str.split(
        "(", n=1, expand=True)
    batsman_data_datadf['Region'] = batsman_data_datadf['Region'].map(
        lambda x: x.rstrip(')'))
    # split region column into region1 and region2
    batsman_data_datadf[['Region1', 'Region']
                        ] = batsman_data_datadf['Region'].str.split("/", n=1, expand=True)
    batsman_data_datadf[['Region2', 'Region']
                        ] = batsman_data_datadf['Region'].str.split("/", n=1, expand=True)
    

    def new_co(batsman_data_datadf):
        if batsman_data_datadf['Region1'] is not None:
            if batsman_data_datadf['Region1'].isupper():
                if (batsman_data_datadf.Region1 == 'ICC'):
                    return batsman_data_datadf['Region2']
                else:
                    return batsman_data_datadf['Region1']

            elif batsman_data_datadf['Region'] is not None:
                if batsman_data_datadf['Region'].isupper():
                    if batsman_data_datadf['Region'] is not "ICC":
                        return batsman_data_datadf['Region']
                else:
                    return batsman_data_datadf['Region2']
            else:
                return batsman_data_datadf['Region2']
        else:
            return "NA"


    batsman_data_datadf['Final Region'] = batsman_data_datadf.apply(
        new_co, axis=1)
    batsman_data_datadf = batsman_data_datadf.drop(
        ["Region1", "Region2", "Region"], axis=1)
    batsman_data_datadf.head()
    batsman_data_datadf = batsman_data_datadf[batsman_data_datadf['Final Region'].isnull(
    ) == False]
    # batsman_data_datadf["HS"] = batsman_data_datadf["HS"].str.replace('*', '')
    batsman_data_datadf.replace('-', 0, inplace=True)
    return batsman_data_datadf

In [24]:
for i in range(len(bowler_df_list)):
    bowler_df_list[i] = define_region(bowler_df_list[i])

In [27]:
bowler_df_list[0]

,Player,Span,Mat,Inns,Balls,Runs,Wkts,BBI,Ave,Econ,SR,4,5,Final Region
0,M Muralitharan,1993,350,341,18811,12326,534,7,23,3,35,15,10,SL
1,Wasim Akram,1984,356,351,18186,11812,502,5,23,3,36,17,6,PAK
2,Waqar Younis,1989,262,258,12698,9919,416,7,23,4,30,14,13,PAK
3,WPUJC Vaas,1994,322,320,15775,11014,400,8,27,4,39,9,4,SL
4,Shahid Afridi,1996,398,372,17670,13632,395,7,34,4,44,4,9,PAK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2577,TJ Zoehrer,1986,22,0,0,0,0,0,0,0,0,0,0,AUS
2578,K Zondo,2018,5,0,0,0,0,0,0,0,0,0,0,SA
2579,B Zuiderent,1996,57,0,0,0,0,0,0,0,0,0,0,NL
2580,Zulqarnain,1985,16,0,0,0,0,0,0,0,0,0,0,PAK
2581,Zulqarnain Haider,2010,4,0,0,0,0,0,0,0,0,0,0,PAK

In [37]:
def rate_bowlers(bowler_df):
    priority_list = []
    # Priority 1 - Average
    ave_Z = calc_Z(bowler_df['Ave'])
    econ_Z = calc_Z(bowler_df['Econ'])
    mat_Z = calc_Z(bowler_df['Mat'])
    priority1_Z = (2*ave_Z) * econ_Z * mat_Z
    priority1_Z = calc_priority_Z(priority1_Z)
    bowler_df['p1_z'] = priority1_Z
    priority_list.append(priority1_Z)

    # Priority 2 - Strike Rate
    sr_Z = calc_Z(bowler_df['SR'])
    wicket_Z = calc_Z(bowler_df['Wkts'])
    bbi_Z = calc_Z(bowler_df['BBI'])
    priority2_Z = (2*sr_Z) * bbi_Z * wicket_Z
    priority2_Z = calc_priority_Z(priority2_Z)
    bowler_df['p2_z'] = priority2_Z
    priority_list.append(priority2_Z)

    # Priority 3 - 100
    if 'Overs' not in bowler_df:
        overs_Z = 1
    else:
        overs_Z = calc_Z(bowler_df['Overs'])
    if 'Mdns' not in bowler_df:
        maiden_Z = 1
    else:
        maiden_Z = calc_Z(bowler_df['Mdns'])
    priority3_Z = (2*maiden_Z) * overs_Z
    bowler_df['p3_z'] = priority3_Z
    priority_list.append(priority3_Z)

    rating = 1

    # Final Rating calculation
    for i in range(len(priority_list)):
        rating += ((len(priority_list)-i+1) * priority_list[i])

    # Normalising rating
    min_r = min(rating)
    range_rating = max(rating) - min_r
    rating = ((rating - min_r) / range_rating) * 10
    bowler_df['rating'] = rating
    print(rating)

In [38]:
rate_bowlers(bowler_t20_data)
rate_bowlers(bowler_odi_data)

0        2.903573
1       10.000000
2        4.496319
3        3.639735
4        3.244437
          ...
2001     0.000000
2002     0.000000
2003     0.000000
2004     0.000000
2005     0.000000
Length: 2006, dtype: float64
0       8.472141
1       6.177811
2       5.986412
3       8.567174
4       9.189930
          ...
2577    0.000000
2578    0.000000
2579    0.000000
2580    0.000000
2581    0.000000
Length: 2582, dtype: float64

In [39]:
bowler_odi_data_sorted = bowler_odi_data.sort_values('rating', ascending=False)
bowler_odi_data_sorted

,Player,Span,Mat,Inns,Balls,Runs,Wkts,BBI,Ave,Econ,...,4,5,Region,Region1,Region2,Final Region,p1_z,p2_z,p3_z,rating
1146,V Kohli,2008,242,48,641,665,4,1,166,6,...,0,0,None,INDIA,None,INDIA,10.000000,0.048918,2,10.000000
4,Shahid Afridi,1996,398,372,17670,13632,395,7,34,4,...,4,9,PAK,Asia,ICC,PAK,2.249329,9.299090,2,9.189930
3,WPUJC Vaas,1994,322,320,15775,11014,400,8,27,4,...,9,4,None,Asia,SL,SL,1.444283,9.539097,2,8.567174
0,M Muralitharan,1993,350,341,18811,12326,534,7,23,3,...,15,10,SL,Asia,ICC,SL,1.003225,10.000000,2,8.472141
10,ST Jayasuriya,1989,445,368,14874,11871,323,6,36,4,...,8,4,None,Asia,SL,SL,2.663600,6.814033,2,7.745707
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1928,KJ Barnett,1988,1,0,0,0,0,0,0,0,...,0,0,None,ENG,None,ENG,0.000000,0.000000,2,0.000000
1929,DM Basden,2007,2,0,0,0,0,0,0,0,...,0,0,None,BMUDA,None,BMUDA,0.000000,0.000000,2,0.000000
1930,IPP Batuwitarachchi,2008,2,0,0,0,0,0,0,0,...,0,0,None,UAE,None,UAE,0.000000,0.000000,2,0.000000
1931,D Bau,2016,10,0,0,0,0,0,0,0,...,0,0,None,PNG,None,PNG,0.000000,0.000000,2,0.000000
2581,Zulqarnain Haider,2010,4,0,0,0,0,0,0,0,...,0,0,None,PAK,None,PAK,0.000000,0.000000,2,0.000000

In [40]:
bowler_t20_data_sorted = bowler_t20_data.sort_values('rating', ascending=False)
bowler_t20_data_sorted

,Player,Span,Mat,Inns,Overs,Mdns,Runs,Wkts,BBI,Ave,...,4,5,Region,Region1,Region2,Final Region,p1_z,p2_z,p3_z,rating
1,Shahid Afridi,2006,99,97,361,4,2396,98,4,24,...,3,0,None,ICC,PAK,PAK,1.347195,10.000000,123.744231,10.000000
8,Mohammad Nabi,2010,75,75,256,5,1839,69,4,26,...,3,0,None,AFG,None,AFG,1.285716,7.040816,109.690177,8.683826
9,KMDN Kulasekara,2008,58,58,205,6,1530,66,4,23,...,2,0,None,SL,None,SL,0.876078,5.510204,105.405404,8.160633
14,Mohammad Amir,2009,48,48,175,5,1224,59,4,20,...,1,0,None,PAK,None,PAK,0.538420,4.652134,74.983519,5.870996
17,S Badree,2012,52,52,191,4,1180,56,4,21,...,1,0,None,WI,World,WI,0.613455,5.194805,65.471324,5.266627
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1433,D Bau,2017,1,0,0,0,0,0,0,0,...,0,0,None,PNG,None,PNG,0.000000,0.000000,0.000000,0.000000
1434,CS Baugh,2008,3,0,0,0,0,0,0,0,...,0,0,None,WI,None,WI,0.000000,0.000000,0.000000,0.000000
1435,T Bavuma,2019,2,0,0,0,0,0,0,0,...,0,0,None,SA,None,SA,0.000000,0.000000,0.000000,0.000000
1436,IR Bell,2006,8,0,0,0,0,0,0,0,...,0,0,None,ENG,None,ENG,0.000000,0.000000,0.000000,0.000000
2005,Zulqarnain Haider,2007,3,0,0,0,0,0,0,0,...,0,0,None,PAK,None,PAK,0.000000,0.000000,0.000000,0.000000

In [42]:
write_csv_data("Cleaned/Bowling", "bowling_odi_data_rating.csv", bowler_odi_data_sorted)
write_csv_data("Cleaned/Bowling", "bowling_t20_data_rating.csv", bowler_t20_data_sorted)

The new directory is created!
bowling_odi_data_rating.csv was written to successfully!
bowling_t20_data_rating.csv was written to successfully!